.emacs.d/auto-save-list/
.emacs.d/backup
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/#*
.emacs.d/projects
.emacs.d/transient
.emacs.d/ido.last
.emacs.d/tree-sitter/
.emacs.d/session*
.emacs.d/ido*
.emacs.d/tramp*
.emacs.d/.cache/
.emacs.d/eln-cache/
.emacs.d/lsp-cache/

.fluxbox/lastwallpaper


.local/share
.local/state

.fluxbox/fbrun_history
sublime-text/Lib/
sublime-text/Backup/