#window {
    background-color: rgba(255, 255, 255, 0.94);
    font-size: 18px;
}

#outer-box {
}

#input {
    border: none;
    background-color: transparent;
    color: black;
    margin: 4px;
}

#input image:first-child {
    margin-left: -100px;
}

#input image:last-child {
    margin-right: -100px;
}

#input:focus {
    border: none;
    border-radius: 8px;
}

#entry {
    color: black;
}

#entry:selected {
    background-color: rgba(--wofi-rgb-color0, 0.1);
    border-radius: 12px;
    margin: 4px;
}

#text:selected {
    color: white;
}

#img {
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#text {
    margin-left: 3px;
}
